# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/HelloWorld_sm/FileContentIndex/ffd30db9-1fe2-4a83-8b66-5fcbd6524ae3.vsidx
/.vs/HelloWorld_sm/v17/ipch/AutoPCH/e5dbc1648ea78390
/.vs/HelloWorld_sm/v17
